.post {
    border: 2px solid #c4c4c4;
    box-shadow: 5px 10px 8px #888888;
    min-height: 100px;
    min-width: 100px;
    margin: 20px;
    padding: 5px;
}

.title-post {
    font-size: 42px;
    text-decoration: underline;
}

p {
    color: black;
}

.text-container {

}

.post-bottom-components {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post-likes {
    border: 1px solid black;
    margin-right: auto;
}

h2, li, h3 {
    color: black;
}
