.mainPage {
    color: #DADDD8;
    display: flex;
    flex-direction: column;
}

h1 {
    color: black;
}

.createBoardButton {
    width: 150px;
    height: 30px;
    background-color: #FF5714;
    border: none;
    color: #ffffff;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 20px;
}

.posts-container {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
}

.pinned-posts {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
}

.post-header {
    text-decoration: underline;
}
