.nav {
    background-color: #2081C3;
    display: flex;
}

.navigationTitle {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    margin-right: auto;
}

.selection {
    min-width: 300px;
    transform: translate(0, 20%);
    margin-right: 20px;
}

.createBoardNavButton {
    width: 150px;
    height: 30px;
    background-color: #FF5714;
    border: none;
    color: #ffffff;
    font-size: 15px;
    margin-right: 20px;
    margin-top: 20px;
}

.role-select {
    width: 150px;
    height: 30px;
    background-color: #FF5714;
    border: none;
    color: #ffffff;
    font-size: 15px;
    margin-right: 20px;
    margin-top: 20px;
}

.createBoard:active {
    background: #e5e5e5;
    outline: none;
}
