.create-post-window {
    min-width: 600px;
    min-height: 500px;
    border: 1px solid #888888;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
}

.create-post-inner {
    display: flex;
    flex-flow: column;
}

.h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    width: calc(100% - 40px);
}

.ql-editor {
    min-height: 300px;
}

.title-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
}

.post-title {
    font-size: 18px;
}

.title-input {
    flex-grow: 1;
}
