.createBoardWindow {
    border: 1px solid #888888;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    background: white;
}

.submitButton {
    margin-top: 20px;
}

.cancel-button {
    margin-left: 10px;
}

.close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
    margin-left: auto;
}
